<h1>Edit item</h1>
<div>
<%= form_for @item do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>
  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>
  <div class="field">
    <%= form.submit 'Update Item', :class => "action" %>
  </div>

<% end %>
</div>