<h1>Items index</h1>

  <nav>
    <ul>
      <li><%= link_to 'New', '/items/new' %></li>
    </ul>
  </nav>

  <% @items.each do |item| %>
    <span><%= item.name %></span> <span><%= item.brand %></span>
    <ul>
      <li><%= link_to 'Edit', '/items/edit' %></li>
      <li><%= link_to 'Delete', '/items/destroy' %></li>
    </ul>
  <% end %>