<h1>List of items in the Database</h1>
<p><%= link_to 'New item?', :new_item, :class => "section" %></p>
<div class="linethick"></div>


<% @items.each do |item| %>
 <div>
    <span>Product: <%= item.name %></span>
    <span>Brand: <%= item.brand %></span>
    <span>User who created this item: <%= item.buyer_id %></span>
    <span>Shop where user bought this item: <%= item.shop_id %></span>
  </div>
  <span class="right"><%= link_to 'Show', item %></span>
  <div class="linethin"></div>
<% end %>