<h1>Items index</h1>

<p>List of items in the Database</p>
<p><%= link_to 'New', :new_item %></p>


  <% @items.each do |item| %>
    <span>Product: <%= item.name %></span>
    <span>Brand: <%= item.brand %></span>
    <span>User who created this item: <%= item.buyer_id %></span>
    <span>Shop where user bought this item: <%= item.shop_id %></span>
    <span><%= link_to 'Show', item %></span>
    <br>
  <% end %>