<h1>Items new</h1>

<%= form_for @item do |form| %>
  <div class="">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>
  <div class="">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  <div class="">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>
  <div class="action">
    <%= form.submit 'New Item' %>
  </div>

<% end %>