<h1>List of buyers registered</h1>
<p><%= link_to 'New buyer?', :new_buyer, :class => "section" %></p>
<div class="linethick"></div>

<%= @buyers.each do |buyer| %>
  <div>
    <span>Name: <%= buyer.name %></span>
    <span>Age: <%= buyer.age %></span>
  </div>
  <span class="right"><%= link_to 'Edit', buyer %></span>
  <div class="linethin"></div>
<% end %> 
