<!DOCTYPE html>
<html>
<head>
  <title>ItemFinderRailsAssociations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end %>
  
  <nav>
    <ul>
      <li><%= link_to 'Shops', 'shops' %></li>
      <li><%= link_to 'Items', 'items' %></li>
      <li><%= link_to 'Buyers', 'buyers' %></li>
    </ul>
  </nav>
<%= yield %>

</body>
</html>
